<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baogang.info.mapper.SysRoleMapper">

    <sql id="Base_Column_List">
        id, code, name, category, remark
    </sql>

    <sql id="Query_Where">
        <where>
            <if test="q.code != null and q.code != ''">AND code LIKE CONCAT('%', #{q.code}, '%')</if>
            <if test="q.name != null and q.name != ''">AND name LIKE CONCAT('%', #{q.name}, '%')</if>
            <if test="q.category != null and q.category != ''">AND category = #{q.category}</if>
            <if test="q.remark != null and q.remark != ''">AND remark LIKE CONCAT('%', #{q.remark}, '%')</if>
        </where>
    </sql>

    <select id="query" resultType="com.baogang.info.entity.SysRole">
        SELECT
        <include refid="Base_Column_List"/>
        FROM page.sysrole
        <include refid="Query_Where"/>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(1)
        FROM page.sysrole
        <include refid="Query_Where"/>
    </select>

</mapper>
