<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baogang.info.mapper.WorkflowMapper">

    <sql id="Base_Column_List">
        id, code, name, category, targetcode, sender, starttime, state, flowgraph, endtime, remark
    </sql>

    <resultMap id="WorkflowResultMap" type="com.baogang.info.entity.Workflow">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="targetcode" property="targetCode"/>
        <result column="sender" property="sender"/>
        <result column="starttime" property="startTime"/>
        <result column="state" property="state"/>
        <result column="flowgraph" property="flowGraph"/>
        <result column="endtime" property="endTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <sql id="Query_Done">
        <where>
            <if test="q.dealUser != null and q.dealUser != ''">
                code in (select distinct workflow from page.flowhistory where dealuser=#{q.dealUser}) and sender!=#{q.dealUser}
            </if>
        </where>
    </sql>

    <select id="queryDone" resultMap="WorkflowResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM page.workflow
        <include refid="Query_Done"/>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countDone" resultType="long">
        SELECT COUNT(1)
        FROM page.workflow
        <include refid="Query_Done"/>
    </select>

    <resultMap id="TodoMap" type="com.baogang.info.common.Todo">
        <result column="workflow" property="workflow"/>
        <result column="flowgraph" property="flowGraph"/>
        <result column="flownode" property="flowNode"/>
        <result column="starttime" property="startTime"/>
        <result column="remark" property="remark"/>
        <result column="nodename" property="nodeName"/>
        <result column="operator" property="operator"/>
        <result column="rolelist" property="roleList"/>
        <result column="userlist" property="userList"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="targetcode" property="targetCode"/>
        <result column="sender" property="sender"/>
        <result column="begintime" property="beginTime"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="queryTodo" resultMap="TodoMap">
        SELECT a.workflow,a.flowgraph,a.flownode,a.starttime,a.remark,
        c.name as nodename,c.operator,c.rolelist,c.userlist,
        b.code,b.name,b.category,b.targetcode,b.sender,
        b.starttime as begintime,b.state
        FROM page.flowcurrent a,page.workflow b,page.flowNode c
        where a.workflow=b.code and a.flowgraph=c.flowgraph and a.flownode=c.code
        and ((c.rolelist like concat ('%',#{q.roleCode},'%') and c.operator='R') or ( c.userList like concat ('%',#{q.dealUser},'%') and c.operator='U'))
        ORDER BY a.starttime DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countTodo" resultType="long">
        SELECT COUNT(1)
        FROM page.flowcurrent a,page.workflow b,page.flowNode c
        where a.workflow=b.code and a.flowgraph=c.flowgraph and a.flownode=c.code
        and ((c.rolelist like concat ('%',#{q.roleCode},'%') and c.operator='R') or ( c.userList like concat ('%',#{q.dealUser},'%') and c.operator='U'))
    </select>

</mapper>
