<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baogang.info.mapper.WorkflowMapper">

    <sql id="Base_Column_List">
        id, code, name, category, targetcode, sender, starttime, state, flowgraph, endtime, remark
    </sql>

    <resultMap id="WorkflowResultMap" type="com.baogang.info.entity.Workflow">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="targetcode" property="targetCode"/>
        <result column="sender" property="sender"/>
        <result column="starttime" property="startTime"/>
        <result column="state" property="state"/>
        <result column="flowgraph" property="flowGraph"/>
        <result column="endtime" property="endTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <sql id="Query_Done">
        <where>
            <if test="q.dealUser != null and q.dealUser != ''">
                code in (select distinct workflow from page.flowhistory where dealuser=#{q.dealUser}) and sender!=#{q.dealUser}
            </if>
        </where>
    </sql>

    <sql id="Query_Todo">
        <where>
            <if test="q.roleCode != null and q.roleCode != ''">
                code in (select distinct a.workflow from page.flowcurrent a, page.flownode n
                where a.flowgraph=n.flowgraph and a.flownode=n.code
                and n.operator='R' and n.rolelist LIKE CONCAT('%', #{q.roleCode}, '%'))
            </if>
            <if test="q.userCode != null and q.userCode != ''">
                code in (select distinct a.workflow from page.flowcurrent a, page.flownode n
                where a.flowgraph=n.flowgraph and a.flownode=n.code
                and n.operator='U' and n.userlist LIKE CONCAT('%', #{q.userCode}, '%'))
            </if>
        </where>
    </sql>

    <select id="queryDone" resultMap="WorkflowResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM page.workflow
        <include refid="Query_Done"/>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countDone" resultType="long">
        SELECT COUNT(1)
        FROM page.workflow
        <include refid="Query_Done"/>
    </select>

    <select id="queryTodo" resultMap="WorkflowResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM page.workflow
        <include refid="Query_Todo"/>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countTodo" resultType="long">
        SELECT COUNT(1)
        FROM page.workflow
        <include refid="Query_Todo"/>
    </select>

</mapper>
